
body {
    background-color: #111;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.login-container {
    margin-top: 10%;
}

.logo {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    width: 200px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00aaff;
    color: white;
    border: none;
    cursor: pointer;
}

#error-message {
    color: red;
    margin-top: 10px;
}
